*{
    box-sizing: border-box;
}

body{
    width: 960px;
    margin: auto;
    background-color: thistle;
}

img{
    width:300px;
    height:300px;
}

header{
    background-color: darkslategrey;
    display: grid;
    grid-template-columns: 100px 1fr; 
    align-items: center;

text-align: center;
color: wheat;
height: 50px;
}

.container{
    display: grid;
    grid-template-rows: 100px minmax(calc(100vh-170px),fr)50px ;
gap:10px;
}

.imgSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    display: flex;
    align-items: center;
    background-color: darkslategrey;
    color: wheat;
    text-align: center;
    height: 50px;
}

footer p{
width: 100%;
}
#ol{
    list-style:circle;

}

button{
    border-radius: 20px;
    background-color:wheat;
    font-style: italic;
    text-transform:capitalize;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

